{% extends 'main.html' %}

{% block content %}
  <h1>Available Jobs</h1>
  <div>
    {% for job in jobs %}
      <div>
        <h2><a href="{% url 'job' job.id %}">{{ job.title }}</a></h2>
        <p>Company: {{ job.employer.company_name }}</p>
        <p>Location: {{ job.location }}</p>
        <p>Type: {{ job.get_job_type_display }}</p>
        <p>Status: {{ job.get_status_display }}</p>
      </div>
      <hr>
    {% empty %}
      <p>No jobs available at the moment.</p>
    {% endfor %}
  </div>
{% endblock %}